body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
  }

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: /*#f1f1f1; */rgba(255, 255, 255, 0.50);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.hide{
    visibility: hidden; 
}

.ltr{
    direction: ltr;
}

.rtl{
    direction: rtl;
}

/* loading gif */

#loading{
    width: 100%;
    height: 100%;
    position: absolute;
}

#loading .loading_img{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 25%;
    background-image: url(../img/logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

#loading .loading_img img{
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* selected door visibility */
.desel .door_closed{
    visibility: visible;
}

.desel .door_openned{
    visibility: hidden;
    display: none;
}

.sel .door_closed{
    visibility: hidden;
    display: none;
}

.sel .door_openned{
    visibility: visible;
}

.price_container .sel{
    visibility: visible;
}

.price_container .desel{
    visibility: hidden;
    display: none;
}

/* arrows */

.arrow-right {
    width: 0; 
    height: 0; 
    left: 5px;
    border-top: 10.39px solid transparent;
    border-bottom: 10.39px solid transparent;
    
    border-left: 18px solid #7C7C7C;
}

.arrow-left {
    width: 0;
    height: 0;
    right: 5px;
    border-top: 10.39px solid transparent;
    border-bottom: 10.39px solid transparent;
    
    border-right: 18px solid #7C7C7C;
}

.section_openclose_btn{
    width: 25px;
    height: 100%;
    background-color: rgba(170, 170, 170, 0.3);
    position: fixed;
    cursor: pointer;
    /*transition: all 0.1s linear;*/
}

.section_openclose_btn:hover{
    background-color: rgba(150, 150, 150, 0.4);
}

.openclose_btn_img{
    top: 50%;
    position: relative;

    -o-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    transition: all 0.2s linear;
}

.rotateLeft{
    transform: rotate(60deg);
    margin-top: 1px;
    margin-left: 1px;
}

.rotateRight{
    transform: rotate(-60deg);
    margin-top: 1px;
    margin-left: 1px;
}

.textShadow{
    -o-text-shadow: 1px 1px 2px rgba(50, 50, 10, 0.9);
    -webkit-text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.9);
    -moz-text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.9);
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.9);
}

.container{
    margin-bottom: 10px;
}

.container:last-of-type{
    margin-bottom: 20px;
}

/* mobile alert */
#mobile-alert-window{
	z-index: 999999;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,0.8);
	padding-top: 20px;
	padding-bottom: 40px;
}

#mobile-alert-wrapper{
	background-color: rgba(50,50,50,1);
	height: 200px;
	width: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
	color: rgb(240,240,240);
	border-radius: 2px;
	font-size: 20px;
}

#mobile-alert-text{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}

#mobile-alert-button{
	padding: 8px 0;
	cursor: pointer;
    border-radius: 2px;
    font-weight: bold;
    background-color: orange;
    display: block;
    width: 80%;
    margin: auto;
    bottom: 20px;
    left: 0;
	right: 0;
    position: absolute;
}

#mobile-alert-button:hover{
	background-color: darkorange;
}

@media only screen and (orientation : portrait) {
	#mobile-alert-window.mobile {
		visibility: visible;
	}
}