@media only screen and (max-width: 1100px) {
    .footer{
        font-size: 85%;
    }

    .footer span{
        margin-top: 8px;
     }
}

@media only screen and (max-width: 920px) {
    #copyright_text{
        display: none;
    }
}

@media only screen and (max-width: 845px) {
    .footer{
        /*display: none;*/
    }

    .footer_name{
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .right{
        display: none;
    }
}