.footer{
    width: 100%;
    height: 30px;
    /*background-color: rgba(50, 50, 50, 1);*/
    position: relative;
    bottom: 0;
    color: #353535;
    font-size: 19px;
}

.footer a{
    color: #353535;
    text-decoration: underline;
}

.footer span{
   margin-top: 6px;
}

.footer .left{
    float: left;
    margin-left: 15px;
    padding-bottom: 15px;
}

.footer .right{
    float: right;
    margin-right: 15px;
    padding-bottom: 15px;
}